__pycache__/
*.py[cod]
.venv/
.env
.env.*
.DS_Store
.pytest_cache/
build/
dist/
*.egg-info/
.coverage
coverage.xml
htmlcov/
release/
data/raw/files/
data/bronze/**/*.parquet
data/silver/**/*.parquet
data/gold/**/*.parquet
